<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>
	

	<title>TextRoulete</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<link rel="icon" 
      type="image/png" 
      href="img/nodejslogo.png" />

</head>

<body>
	<section>
<header>
    <a href = "../"><img src="../img/nodejslogo.png" alt="nodelogo" 
			style="width:66px; height:71px; padding-left: 15px; padding-top: 3px"></a>
	<div style="text-align:right; margin-right: 30px; color: rgb(255,255,255); margin-top: -20px;" id="welcome"></div>
</header>
		<div class="homesection">

			<div class="aboutpage">
				<h2>Welcome to the about page!</h2>
				
				<p>
					TextRoulete was created to provide users with a random chat room experience that has 
						never before been in existence! <br>Below is a table of optional controls that can be entered 
						into the text box.
				</p>
				<br>
				<br>
				
				<table border="1" cellpadding="3" cellspacing="3" align="center" class="abouttable">
					<tr>
						<td>Hyperlinks</td>
						<td>Insert any url into the text box</td>
					</tr>
					<tr>
						<td>Images</td>
						<td>Insert the image url into the text box</td>
					</tr>
					<tr>
						<td>YouTube Videos</td>
						<td>Insert the video url into the text box</td>
					</tr>
					<tr>
						<td>Bold Font</td>
						<td>Begin with "//b "</td>
					</tr>
					<tr>
						<td>Italic Font</td>
						<td>Begin with "//i "</td>
					</tr>
					<tr>
						<td>Underlined Font</td>
						<td>Begin with "//u "</td>
					</tr>
					<tr>
						<td>Highlighted Font</td>
						<td>Begin with "//mark "</td>
					</tr>
					<tr>
						<td>Striked Font</td>
						<td>Begin with "//strike "</td>
					</tr>
					<tr>
						<td>Small Font</td>
						<td>Begin with "//small "</td>
					</tr>
					<tr>
						<td>Sized Font</td>
						<td>Begin with "//1 " - "//6 "</td>
					</tr>
					<tr>
						<td>Superscript</td>
						<td>Begin with "//super "</td>
					</tr>
					<tr>
						<td>Subscript</td>
						<td>Begin with "//sub "</td>
					</tr>
					<tr>
						<td>Current Time</td>
						<td>Begin with "//time "</td>
					</tr>
					<tr>
						<td>Close Tag</td>
						<td>Enter "///"</td>
					</tr>
				</table>
				<br>
				<br>
				<br>
				<p>
					Users have the ability to enter their own user name before entering the chat realm as well as choose
						a personalized avatar from the provided list.<br>This list can be accessed by clicking the avatar 
						logo in the Enter Chat Room page or by clicking the "Change Avatar" button inside any chat room.
						<br>The home page can be accessed at any time by clicking the TextRoulete icon at the top left
						corner of the page.		
				</p>
				<br>
				<br>
				<br>
				<br>
				<h3>Thank you for using TextRoulette!!</h3>
				<br>
				<br>
				<div class="node">
				<img src="img/nodejslogo.png" alt="nodelogo" id="nodelogo"/>
				<h2 id="chat">TextRoullette - Node.js powered web chat</h2>
			</div>
			</div>
		</div>

	</section>

</body>
</html>
