<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>
	

	<title>TextRoulete</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<link rel="icon" 
      type="image/png" 
      href="img/nodejslogo.png" />

</head>

<body>
	<section>
<header>
    <a href = "../"><img src="../img/nodejslogo.png" alt="nodelogo" 
			style="width:66px; height:71px; padding-left: 15px; padding-top: 3px"></a>
	<div style="text-align:right; margin-right: 30px; color: rgb(255,255,255); margin-top: -20px;" id="welcome"></div>
</header>
		<div class="homesection">

			<div class="aboutpage">
				<h2>Welcome to the about page!</h2>
				
				<p>
					This random chat room supports a wide range of types of media that are able to be sent from user
						to user.
				</p>
				<br>
				<br>
				
				<table border="1" cellpadding="3" cellspacing="3" align="center" class="abouttable">
					<tr>
						<td>Hyperlinks</td>
						<td>Insert any url into the text box</td>
					</tr>
					<tr>
						<td>Images</td>
						<td>Insert the image url into the text box</td>
					</tr>
					<tr>
						<td>YouTube Videos</td>
						<td>Insert the video url into the text box</td>
					</tr>
					<tr>
						<td>Bold Font</td>
						<td>Begin with "//b "</td>
					</tr>
					<tr>
						<td>Italic Font</td>
						<td>Begin with "//i "</td>
					</tr>
					<tr>
						<td>Underlined Font</td>
						<td>Begin with "//u "</td>
					</tr>
					<tr>
						<td>Highlighted Font</td>
						<td>Begin with "// "</td>
					</tr>
				</table>

			
			</div>
		</div>

	</section>

</body>
</html>
