<!DOCTYPE html>

<!--
	This file is rendered by express.js, when the rurl /chat/123456 is visited in a browser.
	It includes jQuery, socket.io.js (it is automatically served by the socket.io library), 
	and a few more JavaScript files that you should check out.
-->

<html>

<head>
	<title>TextRoullette</title>

	<link type="text/css" rel="stylesheet" href="../css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
	<link rel="icon" 
      type="image/png" 
      href="../img/nodejslogo.png" />

</head>

<body>
<div class="overlay" id="overlay" style="display:none;"></div>
<div class="box" id="box">
 <a class="boxclose" id="boxclose"></a>
 <h1>Choose Image</h1>
 <p>
  <div id="imageSelector" style="overflow:scroll;height:350px;">
  </div>
 </p>
</div>
<header>
    <a href = "../"><img src="../img/nodejslogo.png" alt="nodelogo" 
			style="width:66px; height:71px; padding-left: 15px; padding-top: 3px"></a>
	<div style="text-align:right; margin-right: 30px; color: rgb(255,255,255); margin-top: -20px;" id="welcome"></div>
	</header>
	<section class="section">

		<!-- These elements are displayed as white info cards in the middle of the screen -->

		<div class="connected">

			<img src="../img/unnamed.jpg" id="creatorImage" />

			<div class="infoConnected">
				<h2>What is your name?</h2>
				<br/>

				<form class="loginForm">
					<input type="text" id="yourName" placeholder="Your nick name" /><br/>
					<input type="submit" id="yourEnter" value="ENTER" />
				</form>

			</div>

		</div>

		<div class="personinside">

			<img src="../img/unnamed.jpg" id="ownerImage" />

			<div class="infoInside">
				<h2>What is your name?</h2>
				<br/>

				<form class="loginForm">
					<input type="text" id="hisName" placeholder="Your nick name" /><br/>
					<input type="submit" id="hisEnter" value="CHAT" />
				</form>

			</div>

		</div>

		<div class="invite-textfield">

			<h2>Loading</h2>
			<h5>Searching for a partner to chat with.</h5>
			<p>You will be connected as soon as a partner is found.</p>
			<img src="../img/nodejsloading.gif" alt="nodelogo" id="nodelogo"/>
		</div>

		<div class="left">

			<img src="../img/unnamed.jpg" id="leftImage" />

			<div class="info">
				<h2><span class="nickname-left"></span> has left this chat.</h2>
				<h5>Searching for a partner to chat with.</h5>
			</div>

		</div>

		<div class="toomanypeople">

			<h2>Oops, you can not join this chat!</h2>
			<h5>Two love birds are already nesting.</h5>
			<img src="../img/lovebirds.png" style="width:250px; height: 250px;"></img>
			<p>Trying to find you another partner.</p>

		</div>

		<div class="nomessages">

			<img src="../img/unnamed.jpg" id="noMessagesImage" />

			<div class="info">
				<h2>You are chatting with <span class="nickname-chat"></span>.</h2>
				<h5>Send them a message from the form below!</h5>
			</div>

		</div>

		<div class="chatscreen">

			<ul class="chats">
				<!-- The chat messages will go here -->
			</ul>

		</div>

	</section>

	<footer>

		<form id="chatform">

			<textarea id="message" placeholder="Write something.."></textarea>
			<input type="submit" id="submit" value="SEND"/>

		</form>
		<button id="submit" class="changeIdentityButton">Identity Change</button>
		<button id="submit" class="randomChatButton">Random Chat</button>
		

	</footer>

	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="../js/jquery.inview.js"></script>
	<script src="../js/moment.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/chat.js"></script>

</body>

</html>